@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-color: #000;
    background-image: url(assets/images/bg.png);
    background-size: cover;
    height: 100dvh;
    color: white;
} */

* {
    user-select: none;
}

body {
    background-color: #000;
    background-image: url(assets/images/bg.png);
    background-size: cover;
}

/* #root {
    min-height: 100dvh;
    background-color: red;
} */
