@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
}

body {
    background-color: #000;
    background-image: url(assets/images/bg.png);
    background-size: cover;
}

::-webkit-scrollbar {
    display: none;
}
