@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
}

body {
    height: 100dvh;
    background-color: #000;
    background-image: url(assets/images/bg.png);
    background-position: center;
    background-size: fill;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}
